.main-div{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

#details-div{
    background-color: #cdebed;
    display: flex;
    width: 80%;
    height: 50vh;
    border-radius: 8px;
   
}
#project-name{
    margin-top: 2vh;
}
#live-demo-button{
    border: solid black;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    height: 5vh;
    padding: .6em 1.3em;
        font-size: 1em;
    
        font-weight: 600;
        display: inline-block;
        
        text-align: center;

}

#details-typo{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-left: 5%;
}

@media only screen and (max-width: 1150px) {

}